p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* Студия */

:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-header-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --four-text-color: #757575;
  --accent-first-color: #2196f3;
  --accent-second-color: #000000;
  --accent-third-color: #ffffff;
  --main-btn-color: #ffffff;
  --header-text-color: #212121;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
.img {
  display: block;
  max-width: 100%;
}
/* --------------HEADER---------------- */

.header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-list {
  display: flex;
}

.header-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-first-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-first-color);
}

.header-connect {
  display: flex;
  margin-left: auto;
}

.header-item:not(last-child) {
  margin-right: 50px;
}
.header-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-first-color);
}

.header-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
}

.logo {
  margin-right: 215px;
}

.logo {
  color: var(--accent-first-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.logo .span {
  color: #000000;
}

.logo-class {
  color: var(--accent-second-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
/* ------------------Hero----------------------------  */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
  background: #2f303a;
  display: block;
  text-align: center;
}

.hero-list {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-third-color);
  background-color: var(--accent-first-color);
  border-radius: 4px;
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 134px;
  text-align: center;
}

.button {
  border-style: none;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  min-width: 134px;
  text-align: center;
}
.header-list .current {
  color: var(--main-btn-color);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--main-btn-color);
}

/* --------------ADVANTAGE --------------------*/

.advantage-container {
  background: #e5e5e5;
  margin-top: 94px;
}

.section-advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* .advantage-prime {
  border: 1px solid transparent;
} */

.advantage-list {
  display: flex;
}

.advantage-list,
.advantage-pre-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.advantage-title:nth-last-child(1) {
  width: 270px;
}

.advantage-title {
  text-align: center;
  margin-bottom: 50px;
}

.advantage-pre-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-after-title {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--four-text-color);
  margin-bottom: 10px;
  width: 270px;
}

/* ----------------WORK---------------- */
.work-section {
  background: #e5e5e5;
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-container {
  text-align: center;
}

.about-list {
  display: flex;
  margin-left: -30px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

/*------------------- COMMAND-------------------------- */
.command-section {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-container {
  text-align: center;
}

.command-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.command-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.command-item {
  display: block;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.command-pre {
  flex-basis: calc((100% - 4 * 30px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.command-pre-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.command-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--four-text-color);
  text-align: center;
  margin-bottom: 30px;
}

/* -----------------ADRESS -----------------------*/

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-list {
  color: var(--accent-first-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.logo {
  margin-right: 215px;
}

.logo-class {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-third-color);
}

.contacts-link-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-bottom: 9px;
}

.contacts-link-list {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--main-btn-color);
  margin-bottom: 9px;
}

/* --------------------Портфолио ----------------------------*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
body {
  font-family: 'Roboto', sans-serif;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: 1px solid transparent;
}
.img {
  display: block;
  max-width: 100%;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}
/* HEADER */

.header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-link {
  display: flex;
}

.header-portfolio {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
}

.portfolio-container {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  margin-right: 215px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-class {
  color: var(--black-text-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  display: flex;
}

button {
  border-style: none;
  font-family: inherit;
  border: 1px solid transparent;
}

/* Site nav */

.site-nav {
  display: flex;
}
.portfolio-item {
  display: flex;
}

.portfolio-item:not(last-child) {
  margin-right: 50px;
}

.portfolio-item {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.portfolio-item .link:hover,
.portfolio-item .link:focus {
  color: var(--accent-color);
}

.link:not(last-child) {
  margin-right: 50px;
}

.portfolio-item .link.current {
  color: var(--accent-color);
}

/* Auth-nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.contact-mail {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-tel {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* -----------LIST----------- */

.button-list {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
  display: flex;
}

/* Features */

.feature-list .title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.title-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* Button */
.button-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 30px;
}

.btn-item {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: 1px solid transparent;
}
.btn-item:nth-child(3n) {
  margin-right: 0;
}

.btn-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.btn-item {
  border-style: none;
  display: flex;
  margin-top: 132px;
  margin-bottom: 56px;
}
.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.logo .class {
  color: var(--white-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-style .class {
  color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio-item {
  border-style: none;
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo {
  margin-right: 215px;
}
.logo-item {
  margin-bottom: 20px;
}

.adress-list-item .location {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.adress-list-item .contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
