p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* Студия */

:root {
  --main-title-color: #FFFFFF;
  --second-title-color: #212121;
  --main-header-color: #434455;
  --second-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --four-text-color: #757575;
  --accent-first-color: #4D5AE5;
  --accent-second-color:#404BBF; 
  --main-btn-color: #404BBF;
  --header-text-color: #2E2F42;;
}

body {
  font-family: 'Roboto', sans-serif;
}
.a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
.img {
  display: block;
  max-width: 100%;
}
/* --------------HEADER---------------- */

.header {
  background: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  text-decoration: none;
}

.header-list {
  display: flex;
}

.header-item {
  margin-left: 40px;
}

.header-connect:not(:last-child) {
  margin-right: 50px;
}
.header-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-second-color);
}

.link:hover,
.link:focus {
  color: var(--accent-second-color);
}

.header-connect {
  display: flex;
  margin-left: auto;
}

.header-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
}

.header-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  margin-left: 50px;
}

.logo {
  color: var(--accent-first-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo .span {
  color: var(--header-text-color);
}

.header-navigation .logo-class {
  color: var(--header-text-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
}
/* ------------------Hero----------------------------  */

.hero {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
  display: block;
  text-align: center;
}

.hero-list {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  width: 696px;
  margin: 0 auto;
  text-align: center;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background-color: #4D5AE5;
  border-radius: 4px;
  border: none;
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 134px;
  text-align: center;
  margin-top: 30px;
}

.button {
  border-style: none;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  min-width: 134px;
  text-align: center;
}
.header-list .current {
  color: var(--main-btn-color);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--main-title-color);
  background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* --------------SECTION --------------------*/

.section {
  background: #E5E5E5;
  padding-top: 94px;
  padding-bottom: 94px;
}

.masters-item-bottom {
  padding-top: 30px;
}

.section-list {
  display: flex;
}

.section-title {
  margin-right: 30px;
}

.section-title:last-child {
  width: 270px;
  margin-right: 0;
}

.section-pre-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  width: 270px;
}

/* ----------------WORK---------------- */
.work-section {
  background: #E5E5E5;
  padding-bottom: 94px;
}

.about-container {
  text-align: center;
}

.about-list {
  display: flex;
  margin-left: -24px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  margin: 0 auto;
  margin-bottom: 50px;
}

/*------------------- COMMAND-------------------------- */
.command-section {
  background: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
}

.command-container {
  text-align: center;
}

.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  margin: 0 auto;
  margin-bottom: 72px;
}

.command-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.command-item {
  flex-basis: auto;
  margin-left: 30px;
  margin-bottom: 30px;
}

.command-pre-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  margin-bottom: 10px;
}

.command-pre-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  text-align: center;
  /* margin-bottom: 30px; */
}

.masters-item-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/* -----------------ADRESS -----------------------*/
.footer {
  background: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-list .logo-class {
  color: #F4F4FD;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo-list .logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-first-color);
}

.logo-list {
margin-bottom: 16px;
}

.page-text {
    width: 264px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}


/* --------------------Портфолио ----------------------------*/
:root {
  --title-text-color: #434455;
  --accent-color: #4D5AE5;
  --accent-second-color: #4D5AE5;
  --white-text-color: #FFFFFF;
  --black-text-color: #2E2F42;
}

body {
  background: #E5E5E5;
  font-family: Roboto, sans-serif;
}

.a {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

/* --------------HEADER---------------- */

.portfolio-header {
  background: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-portfolio {
  display: flex;
  align-items: center;
}

.header-portfolio-container {
  display: flex;
  align-items: center;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black-text-color);
}

.site-nav {
  display: flex;
}

.portfolio-link {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--black-text-color);
    margin-left: 40px;
}

.auth-nav:not(:last-child) {
  margin-right: 50px;
}

.link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-second-color);
}

.link:hover,
.link:focus {
  color: var(--accent-second-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.contact-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.contact-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-left: 50px;
}

 .logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-link .span {
  color: var(--black-text-color);
}

.logo-link {
  color: var(--black-text-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
}

/* -----------BUTTON -------------------*/
.section-projects {
  padding-top: 84px;
}

.button-list {
  font-family: inherit;
  min-width: 69px;
  min-height: 48px;
  /* padding: 6px 22px; */
}

.button-list {
  display: flex;
  justify-content: center;
  /* margin-bottom: 50px; */
}
.btn-item {
  margin-right: 24px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.button-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: #F4F4FD;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  border-width: 0px;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
}

.button-nav:hover,
.button-nav:focus {
  color: var(--white-text-color);
  background: #404BBF;
}
/* ---------Portfolio---------- */
.section-masters {
  background: #E5E5E5;
  padding-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.masters-item-btn {
  background: #FFFFFF;
  border: 1px solid #E7E9FC;
  box-sizing: border-box;
  padding: 20px 24px;
}
.portfolio-title {
  color: var(--black-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-top: 32px;
}
.title-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-bottom: 32px;
  padding-left: 16px;
}

.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.btn-item {
  border-style: none;
  display: flex;
}

.logo .class {
  color: var(--white-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-style .class {
  color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.adress-list .location {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.adress-list .contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.button-list {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
  display: flex;
}

.feature-list .title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.title-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-item {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: 1px solid transparent;
}
/* .btn-item:nth-child(3n) {
  margin-right: 0;
}

.btn-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
/* ------IMAGES----------- */

.portfolio-list {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* -----------------ADRESS -----------------------*/
.footer {
  background: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-item .logo-class {
  color: #F4F4FD;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo-item .logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-item {
  margin-bottom: 17.5px;
}

.page-text-portfolio {
  width: 264px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}
